<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title> arguments</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
  <h2 style="text-align:center;margin:30px">文件上传及下载</h2>
<div id="btn" style="width:50%;margin:0 auto;padding:30px">
  <form action="/upload" method="POST">
      {% csrf_token %}
      <i-formItem>
      <i-input name="q" v-model="up_value" placeholder="Enter something..." style="width: 300px" />
      </i-formItem>
      <i-formItem>
      <i-button type="primary" @click="handleSubmit" >upload</i-button>
      </i-formItem>
  </form>
  <div style="color:red">{{ res_u }}</div>
  <form style="margin-top:30px">
      <i-formItem>
          <i-input name="q" v-model="down_value" placeholder="Enter something..." style="width: 300px" />
      </i-formItem>
      <i-formItem>
          <i-button type="primary">downoad</i-button>
      </i-formItem>
  </form>
<div style="color:red">{{ res_d }}</div>
</div>


</body>
<script>
    new Vue({
    el: '#btn',
    data(){
      return{
      up_value:'',
      down_value:'',
    }
    },
    methods:{
      handleSubmit(){//确认方法
     }
   }
  })
    </script>
</html>